.button-container{
    position: relative;
    display: flex;
    text-align: center;

    justify-content: center;
}

.button-shadow{
    position: absolute;
    top: 100%;
    
    z-index: 0;
    width: 1830px;
    height: 50px;


    background-image: url('./ButtonShadow.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.button-see-more{
    position: relative;
    width: 1830px;
    height: 50px;
    
    z-index: 1;


    background-color: #FFF;
    mask: url('./ButtonMask.svg');    
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;

    transition: transform 0.3s ease;
}

.button-see-more:hover{
    transform:  translateY(10px);
}


