@use "../../assets/variables.scss" as variables;
@use "../../assets/functions.scss" as func;

.news-list {
  .dropdown-block {
    display: flex;
    justify-content: flex-end;
  }
  .news-item {
    display: flex;

    &:hover {
      .news-text {
        .news-category-container {
          .news-category {
            color: variables.$first-item-color;
          }

          svg {
            fill: variables.$first-item-color;
          }
        }

        .news-content {
          .news-description {
            color: variables.$primary-text-color;
          }

          .news-date {
            color: variables.$primary-text-color;
          }
        }
      }

      .news-image {
        border: 1px solid variables.$first-item-color;

        img {
          transform: scale(1.1);
          transition: transform 0.3s ease;
        }
      }
    }

    border-bottom: 1px solid variables.$border-color;
    .news-text {
      .news-category-container {
        display: flex;
        align-items: center;
        .news-category {
          color: variables.$text-color-dark;
          font-weight: 500;
          line-height: 120%;
        }

        svg {
          fill: variables.$brackets-default-color;
        }
      }

      .news-content {
        .news-title {
          font-family: variables.$font-title;
          font-size: 24px;
          line-height: 110%;
          text-transform: uppercase;
          font-weight: 400;
        }

        .news-description {
          font-family: variables.$font-primary;
          color: variables.$text-color-dark;
          line-height: 110%;
        }

        .news-date {
          color: variables.$text-color-dark;
          line-height: 110%;
        }
      }
    }

    .news-image {
      overflow: hidden;
      border-radius: 8px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 100px) {
  .news-list {
    .dropdown-block {
      margin-top: 60px;
      margin-bottom: 20px;
    }

    .news-item {
      flex-direction: column;

      padding-bottom: 20px;
      margin-bottom: 20px;

      .news-text {
        order: 1;

        .news-category-container {
          margin-top: 20px;
        }

        .news-content {
          margin-top: 10px;

          .news-title {
          }

          .news-description {
            margin-top: 10px;
          }

          .news-date {
            margin-top: 30px;
          }
        }
      }

      //   .news-image {
      //   }
    }
  }
}

@media (min-width: 568px) {
  .news-list {
    .news-item {
      .news-text {
        .news-content {
          .news-title {
            max-width: 90%;
            font-size: 28px;
            line-height: 110%;
          }

          .news-description {
            max-width: 90%;
            margin-top: 2px;
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .news-list {
    .news-item {
      .news-text {
        .news-content {
          .news-title {
            max-width: 90%;
            font-size: 28px;
            line-height: 110%;
          }

          .news-description {
            max-width: 70%;
            margin-top: 4px;
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (min-width: 950px) {
  .news-list {
    .dropdown-block {
      margin-top: 80px;
    }

    .news-item {
      flex-direction: row;
      padding-bottom: 20px;
      margin-bottom: 20px;

      .news-text {
        order: 0;
        flex: 1;
        // width: func.adaptive-margin(320, 512);
        .news-category-container {
          margin-top: 0px;
        }

        .news-content {
          display: flex;
          flex-direction: column;
          .news-title {
            width: 100%;

            line-height: 90%;
          }

          .news-description {
            max-width: 83%;
            margin-top: 8px;
            line-height: 100%;
          }

          .news-date {
            margin-top: 64px;
          }
        }
      }

      .news-image {
        display: flex;
        flex-basis: 50%;
        margin-left: auto;
        justify-content: flex-end;
        img {
          max-width: 450px;
          max-height: 250px;
        }
      }
    }
  }
}

@media (min-width: 1250px) {
  .news-list {
    max-width: 1840px;
    .dropdown-block {
      margin-top: 100px;
      margin-bottom: 30px;
    }

    .news-item {
      padding-bottom: 20px;
      margin-bottom: 20px;

      .news-text {
        display: flex;
        flex-direction: row;

        .news-category-container {
          max-width: 460px;
          width: func.adaptive-margin-1250(400, 460);
          margin-top: 0px;
          flex: 1 0 60%;
          align-self: flex-start;
        }

        .news-content {
          max-width: 460px;
          margin-top: 0px;
          flex: 1 2 40%;
          .news-title {
          }

          .news-description {
            margin-top: 10px;
          }

          .news-date {
            margin-top: auto;
          }
        }
      }

      .news-image {
        max-width: 440px;

        img {
          max-width: 586px;
          max-height: 332px;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .news-list {
    .news-item {
      .news-text {
        .news-category-container {
          width: func.adaptive-margin-1250(460, 614);
          .news-category {
          }
        }

        .news-content {
          .news-title {
            line-height: 100%;
          }

          .news-description {
            line-height: 110%;
          }
        }
      }

      .news-image {
        max-width: 586px;
      }
    }
  }
}
