/* #root {
  width: 100%;
  padding: 0;
  margin: 0;
} */

.main-container{
  margin: 0;
}

@media (min-width:360px) {
  .main-container{
    margin: 0 10px;
  }
}

@media (min-width:586px) {
  .main-container{
    margin: 0 16px;
  }
}

@media (min-width:786px) {
  .main-container{
    margin: 0 32px;
  }
}

@media (min-width:1000px) {
  .main-container{
    margin: 0 15px;
  }
}

@media (min-width:1200px) {
  .main-container{
    margin: 0 40px;
  }
}

@media (min-width:1920px) {
  .main-container{
    margin-left: 40px;
    margin-right: 40px;
  }
}