
@function adaptive-margin($min, $max) {
    
    $min-width: 1440px;
    $max-width: 1920px;
    $min-w: 1440;
    $max-w: 1920;
     
     
    @return calc(#{$min}px + (#{($max - $min)} * ((100vw - #{$min-width}) / (#{$max-w} - #{$min-w}))));
}

@function adaptive-height($min-height, $max-height) {
    $min-width: 1440px;
    $max-width: 1920px;
    $min-w: 1440;
    $max-w: 1920;

    @return calc(#{$min-height}px + (#{($max-height - $min-height)} * ((100vw - #{$min-width}) / (#{$max-w} - #{$min-w}))));
}


@media (min-width:1440px) {
    // TopNewsBlock

    .TopNewsBlock{
        height: adaptive-height(512, 696 );

        .left-news{
            flex: 1;
            max-width: adaptive-margin(460, 614);

            .top-news-category{
                font-size: 16px;
            }

            .top-news-title{
                font-size: 28px;
            }

            .top-news-description{
                font-size: 18px;
            }
        }

        .right-news{
            flex: 1;
            max-width: 1226px
        }
    }

    .news-list{
        .news-item{
            padding: 30px 0;
        }
    
        .news-category{
            flex: 1;
            max-width: adaptive-margin(460, 614);
        }
    
        .news-content{
            flex: 1;
            max-width: 613px;

            .news-title{
                font-size: 28px;
            }

            .news-description{
                font-size: 18px;
            }
        }
    
        .news-image{
            flex: 1;
            max-width: 613px;
            margin-left: 40px ;
        }

        .dropdown-block {
            margin-top: 100px;
        }
    }
}

@media (min-width:1920px) {
    
}