@media (min-width: 1440px){
    .main-container {
        /* max-width: 1360px; */
        margin: 0 40px;
    }

    .left-news{
        max-width: 460px;
        height: 512px;
        padding: 30px 30px
    }      

    .right-news{
        max-width: 1226px;
    } 

    .category{
        font-size: 16px;
    }

    .top-news-title{
        max-width: 492px;
        font-size: 28px;
    }
    
    .top-news-description{
        font-size: 18px;
        line-height: 110%;
    }

    .top-news-date{
        padding-top: 303px;
    }

    /* NewsList */

    .news-category{
        max-width: 460px;

        font-size: 16px;
    }

    .news-content{
        max-width: 450px;
    }

    .news-image{
        /* max-width: 450px; */
    }

    .news-title{
        font-size: 28px;
    }

    .news-description{
        font-size: 18px;
    }

    .news-date{
        font-size: 16px;
    }
}

@media (min-width:1920px) {
    .main-container{
        max-width: 1840px;
    }

    /* TopNewsBlock */
    .left-news{
        max-width: 614px;
        height: 696px;
        padding-top: 40px;
        padding-left: 60px;
        padding-right: 64px;
    }

    .right-news{
        max-width: 1226px;
        max-height: 696px;
    } 

    .top-news-title{
        max-height: 66px;
        width: 492px;
        padding-top: 8px;
    }

    .top-news-description{
        max-height: 76px;
        width: 490px;
    }

    .top-news-category{
        font-size: 20px;
    }
    
    .top-news-title{
        max-width: 492px;
        font-size: 38px;  
    }
     
    .top-news-description{
        max-width: 490px;

        line-height: 110%;
        font-size: 20px;  
    }
    
    .top-news-date{
        padding-top: 400px;

        line-height: 110%;
        font-size: 20px;
    }

    /* NewsList */

    .news-category{
        max-width: 614px;

        font-size: 20px;
    }

    .news-content{
        max-width: 643px;
    }

    .news-image{
        max-width: 583px;
    }

    .news-title{
        font-size: 38px;

    }

    .news-description{
        font-size: 20px;
    }

    .news-date{
        font-size: 20px;
    }
}