.dropdown-block {
  min-height: 48px;
}

.dropdown-menu {
  max-width: 230px;
  max-height: 200px;

  background-color: #121212;
  border-radius: 6px;
  border: 1.4px solid #404040;

  margin: 0;
  padding: 15px 20px;
  list-style-type: none;
  box-sizing: border-box;

  .dropdown-item {
    margin-top: 14px;
    font-weight: 500;
    color: #707070;

    &.active {
      color: #fefefe;
    }
  }

  .dropdown-toggle {
    .filter-label {
      color: #707070;
    }

    svg {
      width: 16px;
      height: 10px;
      margin-left: 10px;
      fill: #fefefe;
    }
  }
}

.dropdown.active {
  position: absolute;
  margin-bottom: 20px;
  z-index: 10;
}

@media (min-width: 1920px) {
  .dropdown-menu {
    font-size: 20px;
  }
}

ul,
li {
  cursor: default;
}
