@use "../../assets/variables.scss" as variables;

.dropdown-block {
  min-height: 48px;
}

.dropdown-menu {
  max-width: 240px;
  max-height: 200px;

  background-color: variables.$background-color;
  border-radius: 6px;
  border: 1.4px solid variables.$border-color;

  margin: 0;
  padding: 15px 20px;
  list-style-type: none;
  box-sizing: border-box;

  .dropdown-item {
    margin-top: 14px;
    font-family: variables.$font-filter-menu;
    color: variables.$text-dark-color;

    &.active {
      color: #fefefe;
    }
  }

  .dropdown-toggle {
    font-family: variables.$font-filter-menu;
    .filter-label {
      margin-right: 4px;
      color: variables.$text-dark-color;
    }

    .ArrowUp {
      transform: rotate(180deg);
    }
    svg {
      width: 18px;
      height: 10px;
      margin-left: 6px;
      fill: #fefefe;
    }
  }
}

@media (min-width: 1920px) {
  .dropdown-menu {
    font-size: 20px;
  }
}

ul,
li {
  cursor: default;
}
