//colors
$primary-text-color: #fefefe;
$text-color-dark: #707070;
$first-item-color: #34d3d7;
$indicator-color-active: #34d3d7;
$brackets-color-active: #34d3d7;
$brackets-color-default: #6f6f6f;
$text-category-default: #6f6f6f;
$indicator-color-default: #707070;
$border-color: #404040;
$background-color: #121212;

//fonts
$font-primary: "Rubik";
$font-title: "Fairfax";
$font-size-basic: 16px;

//borders
$border-radius-top-news-block: 10px;
$border-radius-image-news-list: 8px;
