//Common
$background-color: #121212;

$font-primary: "Rubik";
$font-title: "Fairfax";
$font-category: "RubikMedium";

$font-size-basic: 16px;

$border-radius-top-news-block: 10px;
$border-radius-image-news-list: 8px;

//Colors
$brackets-active-color: #34d3d7;
$brackets-default-color: #6f6f6f;

$text-category-active-color: #34d3d7;
$text-category-default-color: #6f6f6f;

$text-dark-color: #707070;
$text-primary-color: #fefefe;

$border-color: #404040;

//TopNewsBlock
$indicator-default-color: #707070;
$indicator-active-color: #34d3d7;

//NewsList
$border-active-color: #34d3d7;

$font-filter-menu: "RubikMedium";
